#body_gallery {
    background-image: linear-gradient(to left bottom, #421b31, #431e3b, #422246, #3d2852, #342e5d, #283461, #183964, #003d65, #00405d, #004053, #004046, #093f3b);
 
}
body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
.header {
    padding: 20px;
    font-size: 5vh;
    font-family: 'Miniver', cursive;
    color: rgba(229, 249, 255);
    text-align: center;
}
.subheader {
    padding: 5px;
    font-size: 3vh;
    font-family: 'Miniver', cursive;
    color: rgba(229, 249, 255);
    text-align: center;
}
.gallery {
    text-align: center;
}

.galleryImage {
    max-width: 40vh;
    vertical-align: middle;
    padding: 10px;
    border-radius: 15px;
}

#overlay {
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.viewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.viewerImage {
    border: none;
    /* required for mobile view */
    max-width: 90%;
    max-height: 95vh;
}
